body {
    height: 100%;

  }

  
  
  
    footer {
    height: 7vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}