<div class="fondo">
  <div class="row" style="margin-top: 50px; margin-left: auto; margin-right: auto;">
    <div class="col-lg-6">
      <div class="card-home">
        <img alt="Sala de Juegos" class="rounded-circle" height="235" src="/assets/imagenes/saladejuegos.png" width="243">
        <h2 class="card-title">Sala de Juegos</h2>
        <p class="card-text">Los mejores juegos para agilizar tu mente y poder entretenerte. La más divertida experiencia</p>
        <a class="btn btn-primary btn-lg" routerLink="/juegos">Jugar</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-home">
        <img alt="Listados de Resultados" class="rounded-circle" height="235" src="/assets/imagenes/listado.jpg" width="243">
        <h2 class="card-title">Listados</h2>
        <p class="card-text">Aca encontrarás diferente información</p>
      </div>
    </div>
  </div>
</div>