 

<div class="fondo" style="position:relative;">
    <app-btn-volver></app-btn-volver>
    <div *ngIf="teclasBloqueadas" class="ahorcado-overlay-bloqueo"></div>
    <div class="container">
        <div class="card-ahorcado">
            <h1 style="color:rgb(255, 251, 4); text-align:center">Mayor o Menor</h1>
            <div class="mayor-menor-row-info" *ngIf="!mostrarFin">
                <div class="mayor-menor-info-izq">
                    <h2 class="mayor-menor-acertaste">Acertaste: {{cuenta}} veces</h2>
                </div>
                <div class="mayor-menor-info-der">
                    <h4 class="mayor-menor-vidas">Te quedan {{vidas}} vidas</h4>
                </div>
            </div>
            <div class="mayor-menor-info-final" *ngIf='mostrarFin'>
                <h2 style="color:rgb(255, 251, 4); text-align:center; width: 100%;">Fin del Juego <br>Tu puntaje final es : {{cuenta}}</h2>
                <div style="display: flex; justify-content: center; width: 100%; margin-top: 16px;">
                    <button class="btn btn-danger" role="button" style="width: 200px;" (click)='reload()'>Reintentar</button>
                </div>
            </div>
            <div class="mayor-menor-flex-row" *ngIf='!mostrarFin'>
                <div class="mayor-menor-img-col">
                    <img width="250px" style="border-radius: 30px" [src]="cartaPrincipal.pathImg">
                </div>
                <div class="mayor-menor-botones-col">
                    <h3 style="color:rgb(255, 251, 4); text-align:center;">La carta que sigue es</h3>
                    <div class="mayor-menor-botones-stack">
                        <button class="btn btn-primary btn-lg" (click)='play("mayor")'>Mayor</button>
                        <button class="btn btn-warning btn-lg" (click)='play("igual")' style="margin-top: 12px;">Igual</button>
                        <button class="btn btn-success btn-lg" (click)='play("menor")' style="margin-top: 12px;">Menor</button>
                    </div>
                    <h3 style="color:rgb(255, 251, 4); text-align:center; margin-top: 16px;">que la actual</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar">{{Mensaje}}</div>
</div>
