.fondo{

    background-image: url("/assets/imagenes/slider-bg-2.jpg");
    margin-top: -60px;
        padding: 3.5%;
        width: 100vw;
        height: 100vh;
  }

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
	#ID_DIV_1 , #ID_DIV_2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}



#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}


#snackbar.Ganador {
    background-color: rgb(46, 165, 28);
    color:white;
}

#snackbar.Perdedor {
    background-color: rgb(223, 13, 13);
    color:white;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}