<div class="fondo">

    <h3 class="text-center" style="color:white">Juegos</h3>
    <div class="container mt-40">
      
      <div class="row mt-30" style="  margin-left: 15%;">
          <div class="col-md-5 col-sm-6">
              <div class="box4">
                <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar">
                  <div class="box-content">
                      <h3 class="title">Ahorcado</h3>
                      <span class="post">Trata de adivinar la palabra antes de terminar Ahorcado</span>
                      <p><button class="btn btn-danger"  (click)="Juego('ahorcado')">Jugar</button></p>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-5 col-sm-6">
              <div class="box4">
                <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar">
                  <div class="box-content">
                      <h3 class="title">Numero Secreto</h3>
                      <span class="post">¿Podes adivinar el número elegido por la máquina?</span>
                      <p><button class="btn btn-danger" (click)="Juego('adivinaNumero')">Jugar</button></p>
                     
                  </div>
              </div>
          </div>
         
  
          <div class="col-md-5 col-sm-6">
            <div class="box4">
              <img  class="img-thumbnail"  src="./assets/imagenes/adivinaprovincia.png" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Preguntados: Harry Potter</h3>
                    <span class="post">¿Cuánto sabes del mundo mágico de Harry y sus amigos?</span>
                    <p><button class="btn btn-danger"  (click)="Juego('preguntados')">Jugar</button></p>
                   
                </div>
            </div>
        </div>
  
        <div class="col-md-5 col-sm-6">
          <div class="box4">
            <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar">
              <div class="box-content">
                  <h3 class="title">Mayor o Menor</h3>
                  <span class="post">Convertite en un adivino de las cartas, en el clasico juego argentino.
                  </span>
                  <p><button class="btn btn-danger"  (click)="Juego('mayorMenor')">Jugar</button></p>
                 
              </div>
          </div>
      </div>
  
      
    </div>
      </div>
  
  
  </div>